footer {
	margin-top: 100px;

	img {
		display: inline-block;
	}

	p {
		margin-bottom: 10px;
		font-weight: 400;
	}

	.footer-legal-links {
		margin-bottom: 24px;
	}

	.footer-responsive {
		padding: 64px 0;
		background-color: $blue;
		color: #eee;
		font-size: 13px
	}

	@media (max-width:599px) {
		.footer-responsive {
			padding: 24px 0 0
		}

	}

	.footer-responsive a {
		text-decoration: none;
		color: #eee;
		font-weight: 400;
	}

	.footer-responsive a:active, .footer-responsive a:focus, .footer-responsive a:hover {
		color: #eee;
		text-decoration: underline
	}

	.footer-responsive .logo, .footer-responsive .why-i-send-container, .footer-responsive h4, .footer-responsive ul {
		margin-bottom: 24px
	}

	.footer-responsive h4 {
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		padding-top: 0;
		text-transform: uppercase
	}

	.footer-responsive ul {
		padding: 0
	}

	.footer-responsive .logo {
		width: 200px
	}

	@media (max-width:1027px) {
		.footer-responsive .logo {
			width: 150px
		}

	}
	.footer-responsive .app-store-links {
		padding-top: 10px;
	}

	.footer-responsive .app-store-links a,
	.footer-responsive .app-store-links a:active,
	.footer-responsive .app-store-links a:focus,
	.footer-responsive .app-store-links a:hover,
	.footer-responsive .icon-row a,
	.footer-responsive .icon-row a:active,
	.footer-responsive .icon-row a:focus,
	.footer-responsive .icon-row a:hover,
	.footer-responsive .why-i-send-container a,
	.footer-responsive .why-i-send-container a:active,
	.footer-responsive .why-i-send-container a:focus,
	.footer-responsive .why-i-send-container a:hover {
		text-decoration: none;
		color: #eee
	}

	.footer-responsive .app-store-links img {
		height: 40px;
		margin-bottom: 12px
	}

	.footer-responsive .footer-legal-links .separator {
		margin: 0 4px;
		opacity: .8
	}

	.footer-responsive .info-list {
		list-style: none;
		text-align: left
	}

	.footer-responsive .info-list li {
		margin-bottom: 24px
	}

	.footer-responsive .icon-row {
		margin-bottom: 36px
	}

	.footer-responsive .icon-row .orca-icon {
		font-size: 22px;
		text-decoration: none;
		margin-right: 12px
	}

	@media (max-width:599px) {
		.footer-responsive .icon-row .orca-icon {
			margin: 0 6px
		}

	}

	@media (max-width:1027px) {
		.footer-responsive .logo-column {
			text-align: center
		}

	}

	.footer-responsive .why-i-send-container {
		margin-top: 10px;
	}

	.footer-responsive .why-i-send-container .why-i-send-button {
		background-color: #13aae5;
		font-size: 13px;
		text-align: center;
		min-width: 0;
		padding: 4px 13px;
		font-weight: 400;
		color: #fff;
		border-radius: 5px;
	}

	@media (max-width:1027px) {
		.footer-responsive .why-i-send-container .why-i-send-button {
			padding: 5px 10px
		}

	}

	.footer-responsive .eula {
		padding: 12px;
		background-color: #3d65a9;
		text-align: center
	}

	.footer-responsive .eula, .footer-responsive .eula a {
		color: #fff
	}

	.footer-responsive .eula:last-child {
		margin-bottom: 0
	}

.text-primary {
	color: #2d60a3
}

a.text-primary {
	color: #2d60a3
}

a.text-primary:focus, a.text-primary:hover {
	color: #173153;
	text-decoration: underline
}

.text-secondary {
	color: #71a9ff
}

a.text-secondary {
	color: #71a9ff
}

a.text-secondary:focus, a.text-secondary:hover {
	color: #0b6bff;
	text-decoration: underline
}

.text-accent {
	color: #42d3af
}

a.text-accent {
	color: #42d3af
}

a.text-accent:focus, a.text-accent:hover {
	color: #218e73;
	text-decoration: underline
}

.text-muted {
	color: #999
}

a.text-muted {
	color: #999
}

a.text-muted:focus, a.text-muted:hover {
	color: #666;
	text-decoration: underline
}

.text-grey-dark {
	color: #4a4a4a
}

a.text-grey-dark {
	color: #4a4a4a
}

a.text-grey-dark:focus, a.text-grey-dark:hover {
	color: #171717;
	text-decoration: underline
}

.text-danger {
	color: #ff5d57
}

a.text-danger {
	color: #ff5d57
}

a.text-danger:focus, a.text-danger:hover {
	color: #f00900;
	text-decoration: underline
}

.text-warning {
	color: #ffbb69
}

a.text-warning {
	color: #ffbb69
}

a.text-warning:focus, a.text-warning:hover {
	color: #ff8d03;
	text-decoration: underline
}

.text-success {
	color: #42d3af
}

a.text-success {
	color: #42d3af
}

a.text-success:focus, a.text-success:hover {
	color: #218e73;
	text-decoration: underline
}

.text-default {
	color: #4a4a4a
}

a.text-default {
	color: #4a4a4a
}

a.text-default:focus, a.text-default:hover {
	color: #171717;
	text-decoration: underline
}

.text-xl {
	font-weight: 600;
	font-size: 20px
}

.text-lg {
	font-weight: 600;
	font-size: 18px
}

.text-md {
	font-size: 16px
}

.text-sm {
	font-size: 14px
}

.text-xs {
	font-size: 12px
}

.text-uppercase {
	text-transform: uppercase
}

.fineprint {
	font-size: 12px;
	opacity: .8
}

.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}



}



.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 8px;
	padding-right: 8px
}

@media (min-width:600px) {
	.container {
		max-width: 768px
	}

}

@media (min-width:1028px) {
	.container {
		max-width: 1140px
	}

}

.container::after {
	content: "";
	display: table;
	clear: both
}

@media (min-width:600px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px
	}

	.container::after {
		content: "";
		display: table;
		clear: both
	}

}

@media (min-width:1028px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px
	}

	.container::after {
		content: "";
		display: table;
		clear: both
	}

}

.row {
	margin-left: -8px;
	margin-right: -8px
}

.row::after {
	content: "";
	display: table;
	clear: both
}

@media (min-width:600px) {
	.row {
		margin-left: -10px;
		margin-right: -10px
	}

	.row::after {
		content: "";
		display: table;
		clear: both
	}

}

@media (min-width:1028px) {
	.row {
		margin-left: -15px;
		margin-right: -15px
	}

	.row::after {
		content: "";
		display: table;
		clear: both
	}

}

.col-sm-1 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 8.33333%
}

.col-sm-2 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 16.66667%
}

.col-sm-3 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 25%
}

.col-sm-4 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 33.33333%
}

.col-sm-5 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 41.66667%
}

.col-sm-6 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 50%
}

.col-sm-7 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 58.33333%
}

.col-sm-8 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 66.66667%
}

.col-sm-9 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 75%
}

.col-sm-10 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 83.33333%
}

.col-sm-11 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 91.66667%
}

.col-sm-12 {
	position: relative;
	min-height: 1px;
	float: left;
	width: 100%
}

.pull-sm-0 {
	right: auto
}

.pull-sm-1 {
	right: 8.33333%
}

.pull-sm-2 {
	right: 16.66667%
}

.pull-sm-3 {
	right: 25%
}

.pull-sm-4 {
	right: 33.33333%
}

.pull-sm-5 {
	right: 41.66667%
}

.pull-sm-6 {
	right: 50%
}

.pull-sm-7 {
	right: 58.33333%
}

.pull-sm-8 {
	right: 66.66667%
}

.pull-sm-9 {
	right: 75%
}

.pull-sm-10 {
	right: 83.33333%
}

.pull-sm-11 {
	right: 91.66667%
}

.pull-sm-12 {
	right: 100%
}

.push-sm-0 {
	left: auto
}

.push-sm-1 {
	left: 8.33333%
}

.push-sm-2 {
	left: 16.66667%
}

.push-sm-3 {
	left: 25%
}

.push-sm-4 {
	left: 33.33333%
}

.push-sm-5 {
	left: 41.66667%
}

.push-sm-6 {
	left: 50%
}

.push-sm-7 {
	left: 58.33333%
}

.push-sm-8 {
	left: 66.66667%
}

.push-sm-9 {
	left: 75%
}

.push-sm-10 {
	left: 83.33333%
}

.push-sm-11 {
	left: 91.66667%
}

.push-sm-12 {
	left: 100%
}

.offset-sm-1 {
	margin-left: 8.33333%
}

.offset-sm-2 {
	margin-left: 16.66667%
}

.offset-sm-3 {
	margin-left: 25%
}

.offset-sm-4 {
	margin-left: 33.33333%
}

.offset-sm-5 {
	margin-left: 41.66667%
}

.offset-sm-6 {
	margin-left: 50%
}

.offset-sm-7 {
	margin-left: 58.33333%
}

.offset-sm-8 {
	margin-left: 66.66667%
}

.offset-sm-9 {
	margin-left: 75%
}

.offset-sm-10 {
	margin-left: 83.33333%
}

.offset-sm-11 {
	margin-left: 91.66667%
}

@media (min-width:600px) {
	.col-md-1 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 8.33333%
	}

	.col-md-2 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 16.66667%
	}

	.col-md-3 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 25%
	}

	.col-md-4 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 33.33333%
	}

	.col-md-5 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 41.66667%
	}

	.col-md-6 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 50%
	}

	.col-md-7 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 58.33333%
	}

	.col-md-8 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 66.66667%
	}

	.col-md-9 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 75%
	}

	.col-md-10 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 83.33333%
	}

	.col-md-11 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 91.66667%
	}

	.col-md-12 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 100%
	}

	.pull-md-0 {
		right: auto
	}

	.pull-md-1 {
		right: 8.33333%
	}

	.pull-md-2 {
		right: 16.66667%
	}

	.pull-md-3 {
		right: 25%
	}

	.pull-md-4 {
		right: 33.33333%
	}

	.pull-md-5 {
		right: 41.66667%
	}

	.pull-md-6 {
		right: 50%
	}

	.pull-md-7 {
		right: 58.33333%
	}

	.pull-md-8 {
		right: 66.66667%
	}

	.pull-md-9 {
		right: 75%
	}

	.pull-md-10 {
		right: 83.33333%
	}

	.pull-md-11 {
		right: 91.66667%
	}

	.pull-md-12 {
		right: 100%
	}

	.push-md-0 {
		left: auto
	}

	.push-md-1 {
		left: 8.33333%
	}

	.push-md-2 {
		left: 16.66667%
	}

	.push-md-3 {
		left: 25%
	}

	.push-md-4 {
		left: 33.33333%
	}

	.push-md-5 {
		left: 41.66667%
	}

	.push-md-6 {
		left: 50%
	}

	.push-md-7 {
		left: 58.33333%
	}

	.push-md-8 {
		left: 66.66667%
	}

	.push-md-9 {
		left: 75%
	}

	.push-md-10 {
		left: 83.33333%
	}

	.push-md-11 {
		left: 91.66667%
	}

	.push-md-12 {
		left: 100%
	}

	.offset-md-0 {
		margin-left: 0
	}

	.offset-md-1 {
		margin-left: 8.33333%
	}

	.offset-md-2 {
		margin-left: 16.66667%
	}

	.offset-md-3 {
		margin-left: 25%
	}

	.offset-md-4 {
		margin-left: 33.33333%
	}

	.offset-md-5 {
		margin-left: 41.66667%
	}

	.offset-md-6 {
		margin-left: 50%
	}

	.offset-md-7 {
		margin-left: 58.33333%
	}

	.offset-md-8 {
		margin-left: 66.66667%
	}

	.offset-md-9 {
		margin-left: 75%
	}

	.offset-md-10 {
		margin-left: 83.33333%
	}

	.offset-md-11 {
		margin-left: 91.66667%
	}

}

@media (min-width:1028px) {
	.col-lg-1 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 8.33333%
	}

	.col-lg-2 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 16.66667%
	}

	.col-lg-3 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 25%
	}

	.col-lg-4 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 33.33333%
	}

	.col-lg-5 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 41.66667%
	}

	.col-lg-6 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 50%
	}

	.col-lg-7 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 58.33333%
	}

	.col-lg-8 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 66.66667%
	}

	.col-lg-9 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 75%
	}

	.col-lg-10 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 83.33333%
	}

	.col-lg-11 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 91.66667%
	}

	.col-lg-12 {
		position: relative;
		min-height: 1px;
		float: left;
		width: 100%
	}

	.pull-lg-0 {
		right: auto
	}

	.pull-lg-1 {
		right: 8.33333%
	}

	.pull-lg-2 {
		right: 16.66667%
	}

	.pull-lg-3 {
		right: 25%
	}

	.pull-lg-4 {
		right: 33.33333%
	}

	.pull-lg-5 {
		right: 41.66667%
	}

	.pull-lg-6 {
		right: 50%
	}

	.pull-lg-7 {
		right: 58.33333%
	}

	.pull-lg-8 {
		right: 66.66667%
	}

	.pull-lg-9 {
		right: 75%
	}

	.pull-lg-10 {
		right: 83.33333%
	}

	.pull-lg-11 {
		right: 91.66667%
	}

	.pull-lg-12 {
		right: 100%
	}

	.push-lg-0 {
		left: auto
	}

	.push-lg-1 {
		left: 8.33333%
	}

	.push-lg-2 {
		left: 16.66667%
	}

	.push-lg-3 {
		left: 25%
	}

	.push-lg-4 {
		left: 33.33333%
	}

	.push-lg-5 {
		left: 41.66667%
	}

	.push-lg-6 {
		left: 50%
	}

	.push-lg-7 {
		left: 58.33333%
	}

	.push-lg-8 {
		left: 66.66667%
	}

	.push-lg-9 {
		left: 75%
	}

	.push-lg-10 {
		left: 83.33333%
	}

	.push-lg-11 {
		left: 91.66667%
	}

	.push-lg-12 {
		left: 100%
	}

	.offset-lg-0 {
		margin-left: 0
	}

	.offset-lg-1 {
		margin-left: 8.33333%
	}

	.offset-lg-2 {
		margin-left: 16.66667%
	}

	.offset-lg-3 {
		margin-left: 25%
	}

	.offset-lg-4 {
		margin-left: 33.33333%
	}

	.offset-lg-5 {
		margin-left: 41.66667%
	}

	.offset-lg-6 {
		margin-left: 50%
	}

	.offset-lg-7 {
		margin-left: 58.33333%
	}

	.offset-lg-8 {
		margin-left: 66.66667%
	}

	.offset-lg-9 {
		margin-left: 75%
	}

	.offset-lg-10 {
		margin-left: 83.33333%
	}

	.offset-lg-11 {
		margin-left: 91.66667%
	}

}

[class*=" col-"], [class^=col-] {
	padding-left: 8px;
	padding-right: 8px
}

@media (min-width:600px) {
	[class*=" col-"], [class^=col-] {
		padding-left: 10px;
		padding-right: 10px
	}

}

@media (min-width:1028px) {
	[class*=" col-"], [class^=col-] {
		padding-left: 15px;
		padding-right: 15px
	}

}


.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	min-height: 1px;
	font-size: 1px;
	line-height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	display: inline-block;
	left: -10000px;
	top: auto
}

.text-hide, .text-hide:focus, .text-hide:hover {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.pull-right {
	float: right
}

.clearfix::after {
	content: "";
	display: table;
	clear: both
}

.invisible {
	visibility: hidden
}

.hidden {
	display: none
}

.invisible {
	visibility: hidden !important
}

.hidden-sm-up {
	display: none !important
}

@media (max-width:599px) {
	.hidden-sm-down {
		display: none !important
	}

}

@media (min-width:600px) {
	.hidden-md-up {
		display: none !important
	}

}

@media (max-width:1027px) {
	.hidden-md-down {
		display: none !important
	}

}

@media (min-width:1028px) {
	.hidden-lg-up {
		display: none !important
	}

}

.hidden-lg-down {
	display: none !important
}

.visible-print-block {
	display: none !important
}

@media print {
	.visible-print-block {
		display: block !important
	}

}

.visible-print-inline {
	display: none !important
}

@media print {
	.visible-print-inline {
		display: inline !important
	}

}

.visible-print-inline-block {
	display: none !important
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important
	}

}

@media print {
	.hidden-print {
		display: none !important
	}

}