header {
	padding: 50px 0 25px 0;

	@include tablet-landscape {
		padding: 50px 0 100px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;	
	}


	.logo {
		a {
			display: inline-block;

			img {
				width: 100%;
				max-width: 200px;
			}
		}
	}

	.utilties {
		width: 100%;
		padding: 25px 0 0 0;

		@include mobile-landscape {
			width: auto;
			padding: 0;
		}
	}

	.user {
		display: flex;
		padding: 0 0 10px 0;
		justify-content: center;

		@include mobile-landscape {
			justify-content: flex-start;
		}

		.btn {
			display: block;
		    font-size: 1em;
		    font-weight: 600;
    		padding: 8px 18px 7px;
    		border: 2px solid;
    		border-radius: 5px;
    		transition: all 0.2s ease-in-out;

    		@include tablet-portrait {
			    font-size: 1.125em;
	    		padding: 10px 24px 9px;
    		}

    		&.register {
    			color: $green;

    			&:hover {
    				background: $green;
    				color: $white;
    			}
    		}

    		&:hover {
    			text-decoration: none;
    			background: $remitly-blue;
    			color: $white;
    		}

			& + .btn {
				margin-left: 50px;

				@include mobile-landscape {
					margin-left: 10px;
				}
			}

		}
	}

	.lang-switcher {
		position: absolute;
		top: -80px;
		right: 0;

		@include mobile-landscape {
			position: static;
			top: 0;
		}

		ul {
			display: flex;

			@include mobile-landscape {
				justify-content: flex-end;
			}
			

			li  {

				& + li {
					margin-left: 10px;
				}

				&.current-lang {
					a {
						font-weight: bold;
						text-decoration: underline;
					}
				}

				a {
					font-size: 0.75em;
				}
			}
		}
	}
}

.mobile-categories {
	display: block;
	padding: 0 0 25px 0;

	@include tablet-landscape {
		display: none;
	}

	section.topics {
		text-align: center;
		border-top: 1px solid #e5e5e5;
		padding: 25px 0;
	

		h3 {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $red;
			border: 2px solid;
			width: auto;
			border-radius: 5px;
			padding: 8px 12px 6px;
			max-width: 160px;
			margin: 0 auto;

			&:hover {
				cursor: pointer;
			}

			&:before {
				content: '+ ';
				font-size: 1.5em;
				display: block;
				margin-right: 10px;
			}

			&.active:before {
				content: "- "
			}
		}

		.list {
			display: none;
			margin-top: 20px;
		}

		.topic {
			padding: 20px 0;

			& + .topic {
				border-top: 1px dotted $light-gray;
			}

			a {
				font-size: 1em;
				font-weight: 600;
				color: $blue;
			}
		}
	}
}
