body.page-template-homepage,
body.category {

	section#content {

		section + section {
			padding-top: 50px;
			border-top: 1px dotted #e5e5e5;
			margin-top: 50px;
		}

		#content-header + section {
			border-top: none;
			margin-top: 0;
		}


		.header {
			width: 100%;
			padding: 0 0 25px 0;


			h3 {
				font-weight: 100;
				font-size: 1.5em;
				color: $red;

				@include tablet-portrait {
					font-size: 2em;
				}
			}
		}



	}

	article.one-col,
	article.two-col {

		.photo {
			img {
				border-radius: 10px;
			}
		}

		.info {
			text-align: center;
			background: $white;
			padding: 25px;
			margin: 0 auto;
			box-shadow: 0 0 16px rgba(33, 46, 97, 0.1);
			border-radius: 10px;
			z-index: 100;

			.tax {
				justify-content: center;
			}


			.date {
				padding: 0 0 10px 0;

				h4 {
					font-size: 0.75em;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					font-weight: normal;
					color: $light-slate-blue


				}
			}

			.title {
				h3 {
					font-size: 1.125em;

					@include tablet-portrait {
						font-size: 1.25em;
					}
				}
			}

			.description {
				padding: 20px 0 0 0;

				p {
					font-size: 0.8125em;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 0.9375em;
					}
				}
			}
		}

	}

	article.one-col {
		width: 100%;

		.info {
			width: 90%;
			max-width: 580px;
			transform: translateY(-25px);
			margin-bottom: -25px;

			@include tablet-portrait {
				transform: translateY(-75px);
				margin-bottom: -75px;
			}
		}
	}

	section.two-col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}


	article.two-col {
		width: 100%;

		& + article.two-col {
			margin-top: 50px;
		}

		@include tablet-portrait {
			width: calc(50% - 10px);

			& + article.two-col {
				margin-top: 0;
			}
		}



		.info {
			width: 80%;
			max-width: 580px;
			transform: translateY(-25px);
			margin-bottom: -25px;

			@include tablet-portrait {
				width: 90%;
				transform: translateY(-50px);
				margin-bottom: -50px;

			}
		}
	}

	section.three-col {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		    grid-template-columns: 1fr;
		grid-column-gap: 20px;

		@include mobile-landscape {
			-ms-grid-columns: 1fr 1fr;
			    grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			-ms-grid-columns: 1fr 1fr 1fr;
			    grid-template-columns: 1fr 1fr 1fr;
		}

		.header,
		.view-all {
			grid-column: 1/-1;
		}
	}


	article.three-col {
		width: 100%;
		margin-bottom: 50px;

		.photo {
			img {
				border-radius: 10px;
			}
		}

		.info {
			padding: 20px 0 0 0;

			@include tablet-portrait {
				padding: 15px 10px 10px 10px;
			}

			.tax {
				.cat {
					a {
						font-size: 0.75em;
					}
				}
			}

			.date {
				padding: 0 0 5px 0;

				h4 {
					font-size: 0.75em;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					font-weight: normal;
					color: $light-slate-blue;
				}
			}

			.title {
				h3 {
					font-size: 1em;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 0.9375em;
					}
				}
			}
		}
	}

	section.three-col.cat,
	section.three-col.tag,
	section.three-col.country {
		.tax {
			display: none;
		}
	}

	.view-all {
		width: 100%;
		text-align: center;

		.btn {
			color: $green;

			&:hover {
				background: $green;
				color: $white;
				text-decoration: none;
			}
		}
	}

	section.three-col.country {
		.header {
			h3 {
				display: flex;
				width: 100%;
					align-items: center;

				img {
					max-width: 32px;
					margin-right: 10px;

					@include tablet-portrait {
						max-width: 48px;
					}
				}
			}
		}
	}

}


body.category {
	section#content-header + .one-col,
	section#content-header + .two-col,
	section#content-header + .three-col {
		padding-top: 0;
	}

}