section#sidebar {

	h3 {
		font-weight: bold;
		text-transform: uppercase;
		color: $remitly-blue;
		padding: 0 0 10px 0;

		a {
			color: $remitly-blue;
		}
	}

	section + section {
		padding: 50px 0 0 0;
	}


	section.search {
		form div {
			display: flex;

			label {
				display: none;
			}

			input[type="text"] {
				width: 66.6666%;
				border: 1px solid $light-slate-blue;
				padding: 5px 10px;

				&:focus,
				&:active {
					outline: none;
				}
			}

			input[type="submit"] {
				width: 33.3333%;
				background: $dark-blue;
				color: $white;
				border: none;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.75em;
				letter-spacing: 0.02em;
			}
		}
	}


	section.topics {
		
		.topic {
			& + .topic {
				margin-top: 10px;
			}

			a {
				color: $dark-blue;
			}
		}
	}

	section.places {

		.place {
			& + .place {
				margin-top: 10px;
			}

			a {
				display: flex;
				align-items: center;
				color: $dark-blue;

				img {
					display: block;
					width: 100%;
					max-width: 32px;
					border-radius: 2px;
				}

				span.name {
					padding: 0 0 0 15px;
				}
			}
		}

		.all {
			padding: 20px 0 0 0;

			.view-all {
				font-size: 0.8125em;
				text-decoration: underline;
			}

			.modal {
				position: absolute;
				z-index: 100;
				background: $white;
				padding: 25px 25px 5px 25px;
				box-shadow: 0 0 16px rgba(33, 46, 97, 0.1);
				border-radius: 10px;
				width: 480px;
				transform: translateY(20px);
				display: none;

				&.show {
					display: block;
				}

				.term-wrapper {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
				}

			}


			.term {
				width: 33.3333%;
				padding: 0 0 20px 0;

				a {
					display: flex;
					align-items: center;
					color: $dark-blue;

					img {
						display: block;
						width: 100%;
						max-width: 32px;
						border-radius: 2px;
					}

					span.name {
						padding: 0 0 0 10px;
						font-size: 0.8125em;
					}
				}					
			}

		}
	}

	section.recent-posts,
	section.featured-posts {
		.post {

			& + .post {
				margin-top: 25px;
			}

			h4 a {
				font-weight: normal;
				font-size: 0.937em;
				line-height: 1.25em;
			}
		}
	}

	section.featured-posts  {
		.photo {
			img {
				border-radius: 10px;
			}
		}
		.info {
			padding: 10px 0 0 0;
		}
	}


}