body.single-authors {

	section#content {
		
		.author {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.photo {
				width: 100%;

				@include mobile-landscape {
					width: 25%;
				}


				img {
					border-radius: 50%;
					max-width: 200px;
					margin: 0 auto;

					@include mobile-landscape {
						max-width: 100%;
					}
				}
			}

			.info {
				width: 100%;
				padding: 25px 0 0 0;

				@include mobile-landscape {
					width: 75%;
					padding: 0 0 0 25px;
				}

				h3 {
					text-transform: uppercase;
					font-size: 2em;
					letter-spacing: 0.05em;
					padding: 0 0 10px 0;
				}

				p {
					font-size: 1em;
					line-height: 1.5em;
				}
			}
		}

		.posts {
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 100px;
			}
		}



	}


}