body.single-post {

	article {
		margin: 0 auto;
		max-width: 720px;

		@include tablet-landscape {
			margin: 0 0 0 auto;
			max-width: 800px;
		}

		.featured-image {
			img {
				border-radius: 10px;
			}

			&__caption {
				padding: 10px 0 0 0;
				text-align: right;

				p {
					font-size: 0.75em;
					font-style: italic;
					color: $mid-gray;
				}
			}
		}

		.article-header {
			padding: 25px 0 0 0;

			.flex-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-end;
			}

			.share {
				width: 100%;
				padding: 10px 0 25px 0;

				@include tablet-portrait {
					width: auto;
					padding: 0;
				}
				
				h4 {
					text-transform: uppercase;
					color: $light-slate-blue;
					font-weight: 700;
					letter-spacing: 0.08em;
					padding: 0 0 5px 0;
					font-size: 0.75em;
				}
				.links-wrapper a, .links-wrapper .link {
					img {
						max-width: 20px;
					}	
				}
			}

			.date {
				padding: 0 0 10px 0;

				h4 {
					font-size: 0.75em;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					font-weight: normal;
					color: $light-slate-blue;
				}
			}

			.title {
				h1 {
					font-size: 2.5em;
					letter-spacing: -0.03em;
					font-weight: 900;
					color: $remitly-blue;

					@include tablet-landscape {
						font-size: 3em;
					}
				}
			}

			.byline {
				padding: 20px 0 0 0;

				h4 {
					color: $light-slate-blue;
					font-size: 0.875em;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					a {
						color: $light-slate-blue;
					}
				}
			}


		}

		.article-body {
			padding: 50px 0 25px 0;


			.wp-caption,
			img {
				width: auto !important;
				height: auto !important;

			}

			h1, h2, h3, h4, h5, h6 {
				padding: 25px 0 10px 0;
				font-weight: 900;
				color: $remitly-blue;
			}

			h1, h2 {
				font-size: 2em;
			}

			h3 {
				font-size: 1.75em;
			}

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: 700;
				font-size: 1.5em;
			}

			h5, h6 {
				font-size: 1.375em;
			}
		
			p {
				font-size: 1.375em;
				line-height: 1.5em;
				margin: 0 0 25px 0;
			}

			li {
				font-size: 1.375em;
				line-height: 1.5em;

				& + li {
					margin-top: 20px;
				}
			}

			ul, ol {
				margin: 0 0 25px 50px;
			}

			ul {
				list-style-type: disc;

				li {
					ul {
						margin: 20px 0 0 0;
						li {
							font-size: 1em;
						}
					}
				}
			}

			ol {
				list-style-type: decimal;
			}

			blockquote {
				padding: 5px 0 5px 25px;
				margin: 50px 0 50px 0;
				border-left: 5px solid $green;
				max-width: 540px;

				@include tablet-landscape {
					margin: 50px 0 50px 25px;
				}

				p {
					padding: 0;
					margin: 0;
					font-size: 1.375em;

					@include tablet-landscape {
						font-size: 1.5em;
					}
				}
			}

			a {
				text-decoration: underline;
				color: $green;
			}

			img {

				&.size-full {
					width: auto !important;
					height: auto !important;
					margin-bottom: 25px;
				}
			}

			iframe {
				margin-bottom: 25px;
			}

			.aligncenter {
				margin: 0 auto 25px auto;
			}

			.alignright {
				margin-top: 25px;
				margin-bottom: 25px;

				@include tablet-landscape {
					float: right;
					margin-left: 50px;
					display: block;					
				}

			}

			.wp-caption-text {
				font-size: 0.875em;
				font-style: italic;
				font-weight: 700;
				padding-top: 5px;

				a {
					color: $remitly-blue;
				}
			}


			.rp4wp-related-posts {
				padding: 50px 0 25px 0;

				h3 {
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.05em;
					padding: 0 0 20px 0;
					font-size: 1em;
				}

				ul {
					padding: 0;
					margin: 0;
					list-style-type: none;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li {
						font-size: 1em;
						width: 100%;
						margin-bottom: 25px;


						@include tablet-portrait {
							width: 31.3333%;

							& + li {
								margin:  0;
							}
						}

						.rp4wp-related-post-image {
							padding-bottom: 10px;
							

							a {
								display: block;
								height: 120px;
							}

							img {
							    min-height: 100%; 
							    width: auto !important;
							    height: 100% !important;
							    border-radius: 10px;
							}
						}
						.rp4wp-related-post-content {
							font-size: 0.675em;

							a {
								font-size: 1.5em;
								font-weight: 600;
								display: inline-block;
								margin: 0 0 0 0;
								padding: 0;

								@include tablet-portrait {
									padding-right: 20px;
								}

							}

							p {
								display: none;

							}
						}
					}

				}

			}
		}

		.article-footer {
			h4 {
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.05em;
				padding: 0 0 5px 0;
				font-size: 1em;
			}

			.share {
				padding: 0 0 50px 0;
			}

			.tags {
				padding: 0 0 50px 0;

				a {
					color: $light-slate-blue;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.75em;
					font-weight: bold;
					display: inline-block;

					&:before {
						content: '#';
						color: $light-slate-blue;
					}

					& + a {
						margin-left: 10px;
					}
				}
			}

			.author {
				border-top: 2px solid $remitly-blue;
				padding: 25px 0 50px 0;
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.photo {
					width: 100%;

					@include mobile-landscape {
						width: 25%;
					}

					@include tablet-portrait {
						width: 15%;
					}

					img {
						border-radius: 50%;
						max-width: 200px;
						margin: 0 auto;

						@include mobile-landscape {
							max-width: 100%;
						}
					}
				}

				.info {
					width: 100%;
					padding: 25px 0 0 0;

					@include mobile-landscape {
						width: 75%;
						padding: 0 0 0 25px;
					}

					@include tablet-portrait {
						width: 85%;
					}

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.05em;
						padding: 0 0 10px 0;
					}

					p {
						font-size: 0.875em;
						line-height: 1.5em;
					}
				}
			}



		}




	}
}