body {
	background: #fff;
	border-top: 2px solid $remitly-blue;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#main {
	
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	section#content {
		width: 100%;

		@include tablet-landscape {
			width: 75%;
			padding-left: 20px;
		}
	}

	section#sidebar {
		width: 100%;
		padding-top: 100px;

		@include tablet-landscape {
			width: 22.5%;
			order: -1;
			padding-top: 0;
		}
	}

}

article.teaser {
	display: flex;
	flex-wrap: wrap;

	& + article.teaser {
		margin-top: 50px;
		border-top: 1px dotted #eee;
		padding-top: 50px;
	}

	.photo {
		max-width: 300px;

		img {
			border-radius: 10px;
		}
	}

	.info {
		padding-top: 20px;

		@include tablet-portrait {
			flex: 1;
			padding: 10px 0 0 25px;
		}

		.date {
			padding: 0 0 10px 0;

			h4 {
				font-size: 0.75em;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				font-weight: normal;
				color: $light-slate-blue


			}
		}

		.description {
			padding: 20px 0 0 0;

			p {
				font-size: 0.9375em;
				line-height: 1.5em;
			}
		}
	}
}

.tax {
	padding: 0 0 15px 0;
	display: flex;
	align-items: center;

	.cat {
		display: flex;
		align-items: center;

		a {
			text-transform: uppercase;
			color: $slate-blue;
			font-size: 0.8125em;
			letter-spacing: 0.05em;
			font-weight: 400;
			margin-top: 2px;

			& + a {
				margin-left: 15px;

				&:before {
					content: '/';
					margin-right: 15px;
				}

				&:hover {
					&:before {
						text-decoration: none;
					}
				}
			}
		}
	}

	.countries {
		display: flex;

		&:after {
			content: '·';
			display: block;
			font-weight: 900;
			margin-right: 15px;
			padding-left: 15px;
			color: $slate-blue;
		}

		a {
			display: block;

			& + a {
				margin-left: 5px;
			}

			img {
				width: 100%;
				max-width: 24px;
			}
		}
	}
}

nav.pagination {
	margin: 50px 0 0 0;
	border-top: 1px solid #e5e5e5;
	padding: 25px 0 0 0;

	h2 {
		display: none;
	}

	.nav-links {
		display: flex;

		span.current {
			display: block;
			padding: 7px 10px 4px 10px;
			margin: 0 5px;
			font-weight: 900;
			color: $orange;
		}

		a {
			display: block;
			color: $green;
			padding: 6px 12px 5px 12px;
			border: 1px solid;
			margin: 0 5px;
			font-weight: 700;

			&:hover {
				text-decoration: none;
				background: $green;
				color: $white;
			}
		}

		span.dots {
			display: block;
			padding: 6px 10px 5px 10px;
		}
	}
}