html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $dark-blue;
	font: 400 100%/1 $proxima-nova;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $proxima-nova;
	font-weight: bold;
}

p {

}

a {
	color: $remitly-blue;

	&:hover {
		text-decoration: underline;
	}
}


section#content-header {
	padding: 0 0 50px 0;
	color: $remitly-blue;

	h1 {
		font-size: 1.75em;
		letter-spacing: -0.03em;

		@include tablet-landscape {
			font-size: 2.25em;
		}

		&.country-tax {
			display: flex;
			align-items: center;

			img {
				width: 100%;
				max-width: 36px;

				@include tablet-landscape {
					max-width: 72px;
				}
			}

			span.name {
				padding: 0 0 0 10px;

				@include tablet-landscape {
					padding: 0 0 0 20px;
				}
			}
		}
	}

	h2 {
		font-weight: normal;
		font-size: 1.125em;
		font-style: italic;
		padding: 5px 0 0 0;
	}
}


.btn {
	border: 1px solid;
	border-radius: 3px;
	display: inline-block;
	padding: 9px 12px 6px 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.8125em;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}