/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$remitly-blue: #212E61;
$dark-blue: #19293A;
$blue: #226ba4;
$slate-blue: #607081;
$light-slate-blue: #8696A7;

$green: #42C888;
$red: #FF5C52;
$orange: #FFBA70;




/* Typography
----------------------------------*/
$proxima-nova: 'proxima-nova', sans-serif;