section.share {
	.links-wrapper {
		display: flex;
		align-items: center;
		padding: 5px 0 0 0;

		a {
			display: inline-block;

			img {
				width: 100%;
				max-width: 24px;
			}

			& + a {
				margin-left: 20px;
			}

			&.twitter {
				img {
					margin: 2px 0 0 0;
				}
			}
		}

		div.link {
			margin-left: 20px;

			&:hover {
				cursor: pointer;
			}

			img {
				width: 100%;
				max-width: 24px;
			}

			span {
				transform: translate(-50%, 15px);
				display: none;
				position: absolute;
				padding: 15px 20px;
				border: 2px solid $remitly-blue;
				border-radius: 10px;
				background: $white;
				font-weight: 600;
				color: $green;
				white-space: nowrap;
				z-index: 100;
				max-width: 300px;
				overflow: hidden;

				&:hover {
					cursor: auto;
				}

				&:before {
					content: ' ';
					display: block;
				    width: 0px;
				    height: 0px;
				    border-left: 10px solid transparent;
				    border-right: 10px solid transparent;
				    border-bottom: 10px solid $slate;
				    position: absolute;
				    top: -12px;
				    left: 50%;
				}
			}
		}
	}
}